@model List<Runner>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    int i = 0;
}
<br />

<h3><p>Admin</p></h3>
<br />



<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Start Time</th>
            <th scope="col">Breaks1</th>
            <th scope="col">Breaks2</th>

            <th scope="col">End Time</th>

            <th scope="col" style="text-align:right"></th>

        </tr>
    </thead>
    <tbody>

        @foreach (var obj in @Model)
        {
            i++;

            DateTime st = (DateTime)@obj.StartTime;


            <tr>
                <form asp-action="Update" asp-controller="Admin" asp-route-id="@obj.id" method="post">
                <th scope="row">@i</th>
                <td><input name="fname" value="@obj.FirstName" class="form-control"></td>
                <td><input name="lname" value="@obj.LastName" class="form-control"></td>
                <td><input name="stime" type="time" value="@st.ToString("hh:mm:ss")" class="form-control"></td>
                <td><input name="Break1_time1" type="time" value="@DateTime.Parse(@obj.Break1.ToString()).ToString("hh:mm:ss")" class="form-control"></td>

                <td><input name="Break2_time1" type="time" value="@DateTime.Parse(@obj.Break2.ToString()).ToString("hh:mm:ss")" class="form-control"></td>

                    @if (@obj.EndTime != null)
                    {
                        DateTime et = (DateTime)@obj.EndTime;
                    <td><input name="ltime" type="time" value="@et.ToString("hh:mm:ss")" class="form-control"></td>
                    }
                    else
                    {

                    <td><input name="ltime" type="time" class="form-control" required></td>

                    }

                <td style="text-align:right"><button type="submit" class="btn btn-info form-control">Update</button></td>
                </form>
            </tr>

        }
    </tbody>
</table>