@model IEnumerable<Runners>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    int i = 0;
}
<h3>Add Breaks</h3>
<br />
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Start Time</th>
            <th scope="col">Breaks</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var obj in @Model)
        {
            i++;

            <tr>
                <form class="btn btn-info" asp-action="UpdateRunnerBreaks" asp-route-id="@obj.id" enctype="multipart/form-data">
                <th scope="row">@i</th>
                <td>@obj.FirstName</td>
                <td>@obj.LastName</td>

                    @if (@obj.StartTime != null)
                    {
                        DateTime dt = (DateTime)obj.StartTime;

                    <td>@dt.ToString("HH:mm:ss")</td>
                    }

                <td><input name="breaks" type="number" value="@obj.Breaks" min="0" max="2" class="form-control" required> </td>
                <td><button type="submit" class="btn btn-info">Update</button></td>

                </form>
            </tr>
        }
    </tbody>
</table>