@model IEnumerable<Runner>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    int i = 0;
}
<h3>Add Breaks @ViewBag.id</h3>
<br />


<br />
@if (ViewBag.id == 1)
{
    <form asp-controller="Break" asp-action="AddBreaks" method="post" asp-route-id="1">
        <div class="form-group">
            <label for="exampleFormControlInput1"><b>Break 1 Start </b></label>
            <div class="col-2">
                <input type="time" class="form-control" id="breaktime1" name="breaktime1" placeholder="Break Time" required>
            </div>
            <label for="exampleFormControlInput1"><b>Break 1 End </b></label>
            <div class="col-2">
                <input type="time" class="form-control" id="breaktime2" name="breaktime2" placeholder="Break Time" required>
            </div>

            <br />
            <button class="btn btn-info">Apply</button>
        </div>

    </form>
}
else
{
    <form asp-controller="Break" asp-action="AddBreaks" method="post" asp-route-id="2">
        <div class="form-group">
            <label for="exampleFormControlInput1"><b>Break 2 Start</b></label>
            <div class="col-2">
                <input type="time" class="form-control" id="breaktime1" name="breaktime1" placeholder="Break Time" required>
            </div>
            <label for="exampleFormControlInput1"><b>Break 2 End</b></label>
            <div class="col-2">
                <input type="time" class="form-control" id="breaktime2" name="breaktime2" placeholder="Break Time" required>
            </div>
            <br />
            <button class="btn btn-info">Apply</button>
        </div>
    </form>


}
<br />
<hr />


<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Start Time</th>
            <th scope="col">Breaks1 Start</th>
            <th scope="col">Breaks1 End</th>
            <th scope="col">Breaks2 Start</th>
            <th scope="col">Breaks2 End</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var obj in @Model)
        {
            i++;

            <tr>
                <th scope="row">@i</th>
                <td>@obj.FirstName</td>
                <td>@obj.LastName</td>

                @if (@obj.StartTime != null)
                {
                    DateTime dt1 = (DateTime)obj.StartTime;

                    <td>@dt1.ToString("HH:mm:ss")</td>
                }
                @if (obj.Break1_time1 != null)
                {



                    <td>@DateTime.Parse(@obj.Break1_time1.ToString()).ToString("HH:mm:ss")</td>
                    <td>@DateTime.Parse(@obj.Break1_time2.ToString()).ToString("HH:mm:ss")</td>
                }

                @if (obj.Break2_time1 != null)
                {

                    <td>@DateTime.Parse(@obj.Break2_time1.ToString()).ToString("HH:mm:ss")</td>
                    <td>@DateTime.Parse(@obj.Break2_time2.ToString()).ToString("HH:mm:ss")</td>

                }
            </tr>
        }
    </tbody>
</table>